# Docusaurus & Frontend Web
website/build/
website/.docusaurus/
website/.cache/
website/.cache-loader/
website/src/data/*
!website/src/data/device-colors.json

# Dependencies
node_modules/

# Editor & OS Temp Files
.idea/
.vscode/
.DS_Store
Thumbs.db
*.swp
*.swo

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Secret Files
.env
.env.*

# Local Workspace
.local/