name: Nothing Firmware Dumper

on:
  workflow_dispatch:
    inputs:
      urls:
        description: 'URLs (comma or space separated)'
        required: true
      name:
        description: 'Release tag'
        required: false     

jobs:
  dump:
    permissions: write-all
    runs-on: [self-hosted, Linux, X64]

    steps:        
    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set script permissions
      run: chmod +x scripts/dump.sh

    - name: Download & Process OTA Packages
      id: dump
      run: |
        IFS=',' read -ra URLS <<< "${{ inputs.urls }}"
        export INPUT_NAME="${{ inputs.name }}"
        for url in "${URLS[@]}"; do
          echo "$url"
        done | xargs ./scripts/dump.sh
        
    - name: Create tag
      run: |
        git fetch origin main
        git tag "${{ steps.dump.outputs.release_tag }}" HEAD
        git push origin "${{ steps.dump.outputs.release_tag }}"

    - name: Upload release assets
      uses: ncipollo/release-action@v1
      with:
        artifacts: out/*
        artifactErrorsFailBuild: true
        body: ${{ steps.dump.outputs.body }}
        tag: ${{ steps.dump.outputs.release_tag }}
        name: ${{ steps.dump.outputs.release_name }}
        token: ${{ secrets.GITHUB_TOKEN }}
